img {
    width: 10vw;
}

main {
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(259, 33%, 90%);
    border: 3px solid hsl(259, 33%, 75%);
    padding: 2rem;
    border-radius: 1rem;
    margin: 3rem;
}

.actions div {
    width: 500px;
}