main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenue {
    background-color: hsl(259, 33%, 90%);
    border: 3px solid hsl(259, 33%, 75%);
    padding: 2rem;
    border-radius: 1rem;
    margin: 2rem 10rem;
    width: 50%;
}

hr {
    margin: 1rem;
}