* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--cls-very-dark-green) !important;
    font-family: "Dosis", sans-serif;
}

img {
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
}

:root {
    /* COLORS */
    --cls-green: #8ba7a0;
    --cls-dark-green: #58736c;
    --cls-very-dark-green: #2c3a36;
    --cls-light-green: #e2e9e7;
    --cls-brown: #736c58;
    --cls-sand: #c8b98b;
    --cls-blue: #585d73;
}

body {
    background-color: var(--cls-light-green);
}

header,
footer {
    background-color: var(--cls-green);
}

.hero {
    margin: 3rem auto auto auto;
    text-align: center;
}

.hero img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: hsla(165, 14%, 60%, 0.25);
}

.hero h1 {
    font-size: 1.5rem;
    text-align: center;
}

.hero hr {
    width: 150px;
    margin: 2rem auto;
    border: 1px solid var(--cls-very-dark-green);
}